<center>
  <h1>Hey <span class="names"><%= @names %></span>,

  <% if @success %>
    your task succeeded.</h1>
  <% else %>
    your task failed.</h1>
  <% end %>


    <img src='<%= @image %>'>

  <h1>Now get back to work!</h1>

</center>

<style>
  h1 {
    font-family: Sans-Serif;
  }

  .names {
    color: rgb(243,101,35);
  }
</style>
